/* Compiled by ScssWeb Compiler on 08/26/18 08:19:12 (1.1363s) */

/* Some colors... */
/* Common menu buttons style */
.btn-style {
  width: 6em;
}
.bg-black {
  background-color: black;
  color: white;
  padding: 0.5rem 1rem;
}
.btn-black {
  color: #fff;
  background-color: #000;
  border-color: #ccc;
}
.btn-black:hover {
  color: #fff;
  background-color: #888;
  border-color: #ccc;
}
/* CSS triangle pointers on border */
.arrow {
  display: inline-block;
  vertical-align: middle;
  width: 0;
  height: 0;
}
.arrow-up {
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 8px solid black;
}
.arrow-down {
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-top: 8px solid black;
}
.arrow-right {
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
  border-left: 8px solid black;
}
.arrow-left {
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
  border-right: 8px solid black;
}
/* Flexbox layout */
.flex-start {
  display: flex;
  justify-content: flex-start;
}
.flex-end {
  display: flex;
  justify-content: flex-end;
}
.flex-center {
  display: flex;
  justify-content: center;
}
.flex-between {
  display: flex;
  justify-content: space-between;
}
.flex-around {
  display: flex;
  justify-content: space-around;
}
